.sacola{
   background: url(../img/sacola.png) no-repeat top right;
   font-size: 14px;
   padding-right:35px;
   text-align:right;
   width:140px;
   padding-top:8px;
   position:absolute;
   top:0;
   right:0;
}

header{
 position:relative;
}

.menu-setores{
   position:absolute;
   right:0px;
   bottom:0px;
}

.menu-departamentos ul li ul{
  display:none;
}

.menu-departamentos ul li:hover ul{
  display:block;
}

.menu-departamentos ul li ul li{
  background-color:#dcdcdc;
}

.menu-departamentos li li a:before{
 content:'\272A ';
 padding-right:3px;
}

.painel h2:hover{
  content:'\2756';
  padding-right:5px;
  opacity:0.4;
}
.menu-setores ul{
  font-size:15px;
}

.menu-setores ul li{
  display:inline;
  margin-left:20px;
}

.menu-setores a{
  color:#003366;
}

.menu-setores a:hover{
  color:#007dc6;
}

.menu-setores a:active{
  color:#867dc6;
}

body{
 color:#333333;
 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container{
  margin:0 auto;
  width:940px;
}

.busca, .menu-departamentos{
  background-color:#dcdcdc;
  font-weight:bold;
  text-transform:uppercase;

  float:left;
  margin-right:10px;
  width:230px;
 
}

.busca h2, 
.busca form,
.menu-departamentos h2{
  margin: 10px; 
}


.menu-departamentos ul li{
  background-color: white;
  margin-bottom:1px;
  padding:5px; 10px;
}

.menu-departamentos ul li a{
  text-decoration:none;
  color:#333333;

}

.destaque{
 margin-top:10px;
}

.menu-departamentos{
  margin-top:10px;
  padding-bottom:10px;

  clear:left;
}

.painel li{
 display:inline-block;
 vertical-align:top;
 width:140px;
 padding-bottom:10px;
 margin:2px;
 
  -webkit-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
}

.painel li:nth-child(2n):hover{
  -webkit-transform:scale(1.2) rotate(5deg);
   transform:scale(1.2) rotate(5deg);
}

.painel li:hover{
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 5px #333;

  -webkit-transform:scale(1.2) rotate(-5deg);
   transform:scale(1.2) rotate(-5deg);

  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
  
}

.painel-compacto li:nth-child(n+7){
  display:none;
}

.painel button{
  display:none;
}

.painel-compacto button{
  display:block;
}





.painel a{
 color:#333;
 font-size:14px;
 text-align:center;
 text-decoration:none;
 
}

.painel h2{
 margin-bottom:10px;
 font-size:24px;
 font-weight:bold;
 text-transform:uppercase;
 text-shadow:3px 3px 2px rgba(255,255,255,0.8);
 
}


.busca{
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}

.painel{
  margin:10px 0;
  padding:10px;
  width:445px;
  border-radius:30px;
  box-shadow:inset 1px 1px 4px #333;
}

.novidades{
  float:left;
  background-color:#f5dcdc
  background-color: #f5dcdc;
  background:linear-gradient(#f5dcdc,#f4bebe);
}

.mais-vendidos{
  float:right;
  background-color:#dcdcf5
  background:#dcdcf5;
  background: linear-gradient(#dcdcf5, #bebef4);
}

footer{
  background-image:url("../img/fundo-rodape.png");
  clear:both;
  padding:20px 0;
}

footer .container{
 position:relative;
}

.social{
 position:absolute;
 top:12px;
 right:0;
}

.social li{
 float:left;
 margin-left:25px;
}

.social li a{
 height:32px;
 width:32px;

 display:block;
 text-indent: -999999999px;
}

.social a[href*="facebook.com"]{
  background-image: url("../img/facebook.png");
}

.social a[href*="twitter.com"]{
  background-image: url("../img/twitter.png");
}

.social a[href*="plus.google.com"]{
  background-image: url("../img/googleplus.png");
}



