.container{
  width:96%;
}

header h1 {
 max-width:50%;
}

.sacola{
 display:none;
}

.menu-setores {
 position:static;
 text-align:center;
}

.menu-setores ul li{
 position:static;
 text-align:center;
 display:inline-block;
 margin:5px;
}

.busca,
.menu-departamentos,
.destaque img {
  margin-right:0;
  width:100%;
}

.painel {
  width:auto;
}

.painel li {
  width:30%;
}

.painel img {
  width:100%;
}

