body{
  color:#333333;
  font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
  width:940px;
  margin-left:auto;
  margin-right:auto;
}

body > h1 {
  background-image:url(../img/sobre-background.jpg);
  padding:10px;
}

h2{
  border-bottom:2px solid #333333;
  margin-top:30px;
}

figure{
  background-color:#F2EDED;
  border:1px solid #ccc;
  text-align:center;
  padding:15px;
  margin:30px;
}

figcaption{
  font-style:italic;
  margin-top:10px;
}

p{
  padding:45px;
  text-indent:15px;
}

p:first-letter{
  font-weight:bold;
}

h1+p{
 text-indent:0;
}

:not(p) + p:frist-line{
 font-variant:small-caps;
}
p:first-line{
  font-variant:small-caps;
}

#familia-pelho{
  float:right;
}

#centro-distribuicao{
  margin-left:auto;
  margin-right:auto;
  width:550px;
 float:left;
}

#rodape{
  color:#777;
  margin:30px 0px;
  padding:30px 0px;
}

#rodape img{
  margin-right:30px;
  vertical-align:middle;
  width:94px;
}
